body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
  text-align: center;
}

h2 {
  color: #666666;
  margin-top: 20px;
}

p {
  line-height: 1.6;
  color: #555555;
}

ul {
  list-style-type: disc;
  margin: 20px 0;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  color: #555555;
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

